.cardWrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 3rem;
  flex-wrap: wrap;
}

.cardContainer {
  width: 13rem;
  height: 31rem;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  // margin-right: 3rem;

  transition: transform 0.3s ease-out;

  &:hover {
    transform: scale(1.05);
  }

  a {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    .reviewBtn {
      width: 50%;
      // height: 40px;
      padding: 0.6rem;

      // background: #ef3c66;
      background: #7868e6;
      color: #edeef7;
      font-size: 1rem;
      font-weight: 600;

      border: none;
      border-radius: 3px;

      cursor: pointer;

      justify-self: flex-end;
      align-self: center;
      &:hover {
        filter: brightness(0.9);
      }
    }
  }
}

.card {
  width: 100%;
  height: 60%;

  background: #fff;
  box-shadow: 5px 5px 28px rgba(0, 0, 0, 0.25);

  flex-shrink: 0;
  border-radius: 5px;

  img {
    width: 100%;
    height: 100%;
    border-radius: 5px;
    object-fit: cover;
    cursor: pointer;
  }
}

.movieInfo {
  width: 100%;
  height: 5rem;

  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin-top: 0;
  padding-top: 0;

  h2 {
    font-size: 14px;
    margin: 0;

    color: #484747;
  }

  p {
    font-size: 12px;
    display: flex;
    margin: 0 10px;
    color: #484747;
    font-weight: 500;
  }

  .star {
    color: #ffb442;
    align-self: center;
    width: 12px;
    height: 12px;
  }
}

@media (max-width: 775px) {
  .cardContainer {
    margin: 0 2rem;
  }
}
