.reviewPage {
  width: calc(100vw - scrollbar);
  height: 100vh;
}

.mainOff {
  width: 100vw;
  height: 90vh;

  display: flex;
  align-items: center;
  justify-content: center;
}

.main {
  width: 100%;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.movieSection {
  width: 76%;

  margin-top: 5rem;

  display: flex;
  align-items: center;
  justify-content: center;

  img {
    height: 28rem;
    border-radius: 9px;
    object-fit: cover;
  }

  .movieInf {
    width: 100%;
    margin-left: 5rem;

    .movieTitle {
      width: 75%;
      font-size: 2.7rem;
      display: flex;
      color: #3d444f;

      margin: 0;
    }

    .movieDescription {
      width: 75%;
      font-size: 1.3rem;
      font-weight: 400;
      line-height: 1.6;

      color: #484747;
      margin: 2rem 0;

      display: flex;
      flex-direction: column;
      margin-bottom: 1rem;

      span {
        font-size: 1.5rem;
        line-height: 2;
        margin: 0;

        color: #3d444f;
        font-weight: 600;
      }

      p {
        margin-top: 0;
        font-size: 1.3rem;
      }
    }

    .movieDirector {
      font-size: 1.3rem;
      color: #484747;

      span {
        font-size: 1.5rem;

        color: #3d444f;
        font-weight: 600;
      }
    }
  }
}

.reviewSection {
  width: 76%;
  margin-top: 5rem;
  margin-bottom: 5rem;

  .reviewSectionHeader {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;

    h1 {
      font-size: 2.3rem;
      color: #3d444f;

      display: flex;
      align-items: center;

      span {
        font-size: 1.7rem;
        margin-left: 1rem;
        display: flex;
        align-items: center;

        path {
          color: #ffb442;
          width: 1.7rem;
          height: 1.7rem;
          align-self: center;
          justify-self: center;
        }
      }
    }

    button {
      display: flex;
      border: none;
      margin-right: 5rem;
      font-size: 1.5rem;
      cursor: pointer;
      color: #ff4848;
    }
  }

  p {
    font-size: 1.3rem;
    font-weight: 400;
    line-height: 1.8;

    color: #484747;
  }
}

@media (max-width: 920px) {
  .movieSection {
    // flex-direction: column;

    .movieTitle {
      font-size: 2.3rem;
    }

    .movieDescription {
      p {
        font-size: 1.2rem;
      }
    }

    .movieDirector {
      font-size: 1.2rem;
    }

    img {
      height: 30rem;
      margin-bottom: 3rem;
    }
  }
}

@media (max-width: 612px) {
  .movieSection {
    width: 80%;
    img {
      height: 20rem;
    }

    .movieInf {
      margin-left: 0;

      .movieDescription {
        width: 20rem;
        margin: 0;
        p {
          font-size: 1rem;
        }
      }
    }
  }
}

@media (max-width: 919px) {
  .movieSection {
    flex-direction: row;
    gap: 2rem;

    .movieInf {
      margin-left: 0;

      .movieTitle {
        font-size: 2rem;
      }

      .movieDescription {
        span {
          font-size: 1.3rem;
        }
      }
    }
    img {
      height: 25rem;
      margin-bottom: 3rem;
    }
  }
}

@media (max-width: 789px) {
  .movieSection {
    .movieInf {
      margin-left: 0;

      .movieTitle {
        font-size: 2rem;
      }

      .movieDescription {
        span {
          font-size: 1.3rem;
        }
      }
    }
    img {
      height: 25rem;
      margin-bottom: 3rem;
    }
  }
}
