.modalBackground {
  width: 100vw;
  height: 110vh;

  // margin-top: 1.3rem;
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #2c2e4391;

  .modalContainer {
    padding: 3rem;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    background-color: #fff;
    box-shadow: 4px 4px 16px rgba(56, 56, 56, 0.192);

    border-radius: 1rem;

    button {
      width: 8rem;
      height: 2.5rem;

      margin-top: 1rem;
      border-radius: 5px;
      font-size: 14px;
      cursor: pointer;

      border: none;
      color: #fff;
      font-weight: 600;

      &:hover {
        filter: brightness(0.9);
      }
    }
    .cancel {
      background-color: #9184e6;
    }

    .delete {
      background-color: #ee6585;
      margin-left: 1.5rem;
    }
  }
}
