.main {
  width: 100%;
  height: 77vh;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 4rem;
  color: #6d6d6d;

  gap: 10rem;

  .formContainer {
    width: 35rem;

    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }
}
