.container {
  width: 100%;
  height: 85vh;

  .main {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .box {
      width: 50%;
      background-color: #fff;
      border-radius: 5px;
      padding: 2rem 0;
      box-shadow: 4px 2px 16px rgba(85, 85, 85, 0.25);
      color: #716f81;

      padding: 3rem;

      .movieContainer {
        width: 100%;
        display: flex;
        justify-content: space-between;
        margin-bottom: 1rem;
        font-size: 1.1rem;

        &:hover {
          filter: brightness(0.9);
        }

        span {
          cursor: pointer;
          margin-bottom: 0.7;

          &:hover {
            border-bottom: 1px solid #7868e6;
          }
        }

        .buttons {
          display: flex;
          margin-left: 2rem;

          .trashButton {
            background-color: transparent;
            border: none;
            cursor: pointer;
            font-size: 1rem;
            margin-left: 1rem;
            color: #ef3c66;
          }

          .editButton {
            background-color: transparent;
            border: none;
            cursor: pointer;
            font-size: 1rem;
            // margin-left: 1rem;
            color: #3cef72;
          }
        }
      }
    }
  }

  .addButtonContainer {
    width: 50%;

    display: flex;

    justify-content: flex-end;

    .addButton {
      padding: 0.7rem 1.1rem;
      display: flex;
      align-items: center;

      cursor: pointer;

      margin-bottom: 0.5rem;
      border: none;
      border-radius: 3px;
      background-color: #9184e6;

      color: #fff;
      font-size: 14px;
      font-weight: 600;

      &:hover {
        filter: brightness(0.9);
      }

      .addButtonIcon {
        margin-right: 0.5rem;
        color: #fff;

        font-size: 1rem;
      }
    }
  }
}
